.button {
    padding: 10px 20px;
    border: solid 3px #C746FF;
    border-radius: 30px;
    height: 53.37px;
    width: 172.67px;
}
.buttonStart {
    padding: 10px 20px;
    background: rgb(199,70,255);
    background: linear-gradient(0deg, rgba(199,70,255,1) 0%, rgba(138,42,227,1) 48%);
    border-radius: 30px;
    height: 53.37px;
    width: 172.67px;
    margin-left: 20px;
}

.container {
    border: 1px solid white
}